<html ng-app="listaTelefonica">
<head>
  <meta charset="utf-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/lista.css">
	<script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-messages.js"></script>

	<script>
		angular.module("listaTelefonica", ['ngMessages']);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $http) {
			$scope.app = "Lista Telefonica";
      $scope.busca = "";
			$scope.contatos = [];

      $scope.adicionarContato = function (contato){
        $scope.contatos.push(angular.copy(contato));
        delete $scope.contato;
        $scope.contatoForm.$setPristine();
      }

      var obterContatos = function () {
        $http.get('http://localhost:8080/contatos').success((data) => {
          $scope.contatos = data;
        }).error(()=>{
          console.log('deu porco');
        });
      }

      $scope.isContatoSelecionado = function(contatos){
        return  contatos.some((item) => {return item.selecionado});
      }

      $scope.order = "";

      $scope.ordenarPor = function (campo){
        $scope.order = campo;
      }

      $scope.removerContatos = function(contatos){
          $scope.contatos = contatos.filter((item) => {return !item.selecionado});
      }

     $scope.operadoras= [];
     obterContatos();
		});
	</script>
</head>

<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
    {{busca}}
    <input type="text" name="name" class="form-control" ng-model="busca">
		<table class="table" ng-if="contatos.length > 0">
			<tr>
        <th></th>
				<th ng-click="ordenarPor('nome')">Nome</th>
				<th ng-click="ordenarPor('telefone')">Telefone</th>
        <th ng-click="ordenarPor('operadora')">Operadora</th>
        <th></th>
        <th>Data</th>
			</tr>

			<tr ng-repeat="contato in contatos | filter:{'nome':busca} | orderBy:order" ng-class="{'selecionado negrido' : contato.selecionado}">

        <td>
          <input type="checkbox" name="name" value="" ng-model="contato.selecionado">
        </td>
				<td>{{contato.nome | lowercase}}</td>
				<td>{{contato.telefone}}</td>
        <td>{{contato.operadora}}</td>
        <td>
          <div style="height: 20px; width: 20px" ng-style="{'background-color': contato.cor}">
          </div>
        </td>
        <td>
          {{contato.data | date:'dd/MM/yyyy HH:mm'}}
        </td>
			</tr>
		</table>


    {{contatoForm.nome.$error}}
    {{contatoForm.telefone.$error}}
    <form name="contatoForm">

      <input placeholder="Nome" class="form-control"
              type="text" name="nome" value="" ng-model="contato.nome" ng-required="true" ng-minlength="10" ng-maxlength="40">


      <input placeholder="Telefone" class="form-control"
              type="text" name="telefone" value="" ng-model="contato.telefone" ng-required="true" ng-minlength="9" ng-maxlength="10"
              ng-pattern="/^\d{4,5}-\d{4}$/">


      <div ng-messages="contatoForm.nome.$error" ng-if="contatoForm.nome.$dirty && contatoForm.nome.$invalid" class="alert alert-danger">
          <div ng-message="required">
              Campo obrigatório
          </div>
          <div ng-message="minlength">
              Tamanho do campo menor que o permitido
          </div>
          <div ng-message="pattern">
              Campo fora do padrão
          </div>
      </div>


      <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome as operadora.nome for operadora in operadoras">
  			<option value="">Selecione uma operadora</option>
  		</select>

      <button type="button" name="button" style="margin-top: 10px"
            class= "btn btn-primary btn-block" ng-disabled="!(contato.nome && contato.telefone)" ng-click="adicionarContato(contato)">Adicionar contato</button>

      <button type="button" class="btn btn-danger btn-block" ng-hide="!isContatoSelecionado(contatos)" ng-click="removerContatos(contatos)">Apagar contatos</button>
    </form>

	</div>

</body>
</html>
